DATABASE_URL="postgresql://user:password@localhost:6543/databasename?pgbouncer=true"
DIRECT_URL="postgresql://user:password@localhost:5432/databasename"

PORT=3000

JWT_SECRET="your-super-secret-key-here"
JWT_EXPIRES_IN="7d"

# Mail Configuration
MAIL_HOST="smtp.mailtrap.io"
MAIL_PORT=2525
MAIL_USER=""
MAIL_PASS=""

# AI Configuration
GOOGLE_GENAI_API_KEY=""